@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  /* I hate that stupid side scroll thing so I'm just going to eradicate it everywhere */
  /* We can find some better way later */
  overflow-x: hidden;
}

/** MAIN STYLING **/
/* This part of the file contains the styling for general components that apprar throughout the app */
/* ---- application logo 
 * ---- application headers and text 
 * ---- input fields and text areas
 * ---- primary and secondary buttons with variable sizes
 */

#logo {
  margin-top: 1vh;
  margin-left: 2vw;
}

body {
  margin: 0;
  color: #333333;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: Poppins;
  font-weight: 700;
}

h3 {
  font-weight: 700;
}

a {
  text-decoration: none;
}

input {
  border-radius: 4px;
  border: 1.5px solid #afafaf;
  cursor: text;
  caret-color: #333;
  font-size: .87em;
  text-indent: .5em;
}

input:focus {
  outline: none;
  border: 1.8px solid #ff914e;
}

textarea {
  border-radius: 4px;
  border: 1.5px solid #afafaf;
  resize: none;
}

textarea:focus {
  outline: none;
  border: 1.5px solid #ff914e;
}

.btn {
  border: 2px solid #ff914e;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
}

.primary {
  background: #ff914e;
  color: white;
}

.secondary {
  background: white;
  color: #ff914e;
}

.xs {
  padding: 4px 0;
  font-size: 11px;
  width: 80px;
}

.sm {
  padding: 8px 16px;
}

.md {
  padding: 16px;
}

.xl {
  padding: 16px 48px;
}


/** NAVIGATION STYLING **/
/* This is the styling for navigation bars */
/* ---- top navigation bar
 * ---- side navigation bar
 */

nav { /* This is for the top nav only - sidebar will have different stylings*/
  width: 100vw;
  display: flex;
  align-items: center;
  margin-top: 1vh;
  margin-left: 2vw;
}

nav > .navitem {
  padding: 8px 16px;
  margin-right: 1vw;
  text-align: center;
  font-weight: 700;
}

nav > .navitem > a {
  cursor: pointer;
  margin: 0 8px;
}

.rightmost {
  display: flex;
  position: fixed;
  right: 0;
}

/** FORM STYLING **/
/* This is the styling for submitting forms */
/* ---- sign up form
 * ---- sign in form
 */

.form-title {
  margin-top: -10vh;
}

.form-container {
  margin-left: 12vw;
  margin-top: 10vh;
  margin-bottom: 5vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
}

.form-fields {
  align-items: center;
  justify-content: right;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-row > label {
  width: 9em;
  font-weight: 700;
  margin-bottom: 0.3em;
}

.onboarding-container {
  height: 55vh;
}

.onboarding-bg {
  position: absolute;
  z-index: -99;
}

.sign-in-bg {
  bottom: 0;
  top: 0;
  right: -28vw;
  width: 150vw;
}

.sign-up-bg {
  right: -15vw;
  bottom: 0;
  width: 120vw;
}

.onboarding-err {
  margin-bottom: 0.3em;
  color: #e1143e;
}

.onboarding-demo {
  margin-left: 12vw;
  height: 45vh;
}

/* We need to make sure to change this later */
.upload-img {
  width: 128px;
  height: 128px;
  border: 1px solid #f0f0f0;
  background: linear-gradient(27deg, #f0f0f0, #e0e0e0);
  margin-left: 10vw;
  font-size: .75em;
  font-weight: 700;
  color: #333;
  padding: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

.upload-img:hover {
  color: white;
  background:linear-gradient(27deg, #888, #656565);
  cursor: pointer;
}

.form-row > input {
  width: 20em;
}

.bio-container {
  margin-top: 5vh;
  margin-left: 12vw;
  display: flex;
  flex-direction: column;
}

.bio-container > label {
  font-weight: 700;
  margin-bottom: .3em;
}

.bio-container > textarea {
  width: 40em;
  height: 10em;
  font-family: Roboto;
  text-indent: .87em;
}

.loading-wheel {
  border: 5px solid #fff;
  border-left: 5px solid #ff914e;
  border-radius: 50%;
  width: 50px; height: 50px;
  animation: spin 2s linear infinite;
  margin-left: 12vw;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.form-submit {
  margin-top: 11vh;
  margin-left: 12vw;
  padding: 16px 32px;
}

.select-wrapper {
  display: flex;
  margin-bottom: 40vh;
  margin-left: 12vw;
}

.select-header {
  width: 96px;
  font-weight: 700;
  margin-bottom: 0.5em;
  color: #333;
}

.select-container {
  width: 20vw;
  min-width: 300px;
  margin-right: 40px;
  outline: none;
}

.select-container-profile {
  width: 20vw;
  min-width: 300px;
  margin-right: 40px;
  outline: none;
}

/** MAIN SITE STYLING **/
/* This is the styling for the site's content */
/* ---- subheaders
 * ---- page content right of sidebar
 * ---- search fields
 * ---- 
 */

.page-container {
  overflow-y: scroll;
}

.filter-input{
  width: 40vw;
  height: 3vh;
  margin-bottom: 2vh;
  text-indent: 0.5em;
}

.filter-section {
  display: flex;
  width: 42vw;
}

.filter-section > .btn {
  width: fit-content;
  height: fit-content;
}

.filter-container {
  width: 19vw;
  margin-right: 1vw;
  outline: none;
  margin-bottom: 2vh;
  min-width: 300px;
}

.header {
  font-size: 18px;
  margin-bottom: 0.1em;
}

.page-title {
  margin-left: 25vw;
  font-size: 32px;
}

.page-content {
  margin-left: 20vw;
  height: 100vh;
}

#online-count {
  font-size: 14px;
  margin-top: 0.1em;
  display: flex;
  align-items: baseline;
}

#online-count > p {
  margin-top: 0.1em;
}

.green-circle {
  width: 10px;
  height: 10px;
  background: #a9fda1;
  border-radius: 50%;
  margin-right: 0.1em;
  margin-top: 0em;
}

.margin-left {
  margin-left: 12vw;
}

.edit-img-overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.edit-img-overlay:hover {
  opacity:1;
}

.profile-btn {
  position: absolute;
  top: 0px;
  right: 16px;
  border-radius: 50%;
  border: 0.5px solid #f0f0f0;
  margin: 32px 48px;
  width: 48px !important;
  height: auto;
}

.profile-btn:hover {
  cursor: pointer;
}

/** MEDIA QUERIES **/
/* This is where responsiveness rules are implemented for different screen sizes.
 * Includes stylings for elements on different pages.
 */
@media screen and (max-width: 960px) {

  .onboarding-bg {
    display: none;
  }

  .filter-section {
    flex-direction: column;
  }

  .filter-container {
    width: 40vw;
  }

  .page-content {
    margin-left: 12vw;
    margin-top: 10vw;
  }
}

@media screen and (max-width: 760px) {
  .sm {
    padding: 8px;
  }
  
  .md {
    padding: 16px;
  }
  
  .xl {
    padding: 16px 32px;
  }
}

@media screen and (max-width: 670px) {
  .form-title {
      margin: 0;
  }

  .form-row > label {
      width: 6em;
      font-size: 0.7em;
  }

  .form-row > input {
    width: 40vw;
  }

  .bio-container > textarea {
      width: 80vw;
  }

  .form-fields {
      align-items: center;
      justify-content: right;
      margin-left: 2vw;
  }
}

@media screen and (max-width: 560px) {
  nav > .navitem > a {
    margin: 0 4px;
  }

  /* EXTREMELY hacky fix for now - we will change this when we implement hamburger */
  nav > a {
    color: white;
  }

  .xl {
    padding: 16px 24px;
  }
}

  .hide {
    display: none !important;
  }