@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  /* I hate that stupid side scroll thing so I'm just going to eradicate it everywhere */
  /* We can find some better way later */
  overflow-x: hidden;
}

/** MAIN STYLING **/
/* This part of the file contains the styling for general components that apprar throughout the app */
/* ---- application logo 
 * ---- application headers and text 
 * ---- input fields and text areas
 * ---- primary and secondary buttons with variable sizes
 */

#logo {
  margin-top: 1vh;
  margin-left: 2vw;
}

body {
  margin: 0;
  color: #333333;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  font-family: Poppins;
  font-weight: 700;
}

h3 {
  font-weight: 700;
}

input {
  border-radius: 4px;
  border: 1.5px solid #afafaf;
}

input:focus {
  outline: none;
  border: 1.5px solid #ff914e;
}

textarea {
  border-radius: 4px;
  border: 1.5px solid #afafaf;
  resize: none;
}

textarea:focus {
  outline: none;
  border: 1.5px solid #ff914e;
}

.btn {
  border: 2px solid #ff914e;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
}

.primary {
  background: #ff914e;
  color: white;
}

.secondary {
  background: white;
  color: #ff914e;
}

.xs {
  padding: 4px 0;
  font-size: 11px;
  width: 80px;
}

.sm {
  padding: 8px 16px;
}

.md {
  padding: 16px;
}

.xl {
  padding: 16px 48px;
}


/** NAVIGATION STYLING **/
/* This is the styling for navigation bars */
/* ---- top navigation bar
 * ---- side navigation bar
 */

nav { /* This is for the top nav only - sidebar will have different stylings*/
  width: 100vw;
  display: flex;
  align-items: center;
  margin-top: 1vh;
  margin-left: 2vw;
}

nav > .navitem {
  padding: 8px 16px;
  margin-right: 1vw;
  text-align: center;
  font-weight: 700;
}

nav > .navitem > a {
  cursor: pointer;
  margin: 0 8px;
}

.rightmost {
  display: flex;
  position: fixed;
  right: 0;
}

/** FORM STYLING **/
/* This is the styling for submitting forms */
/* ---- sign up form
 * ---- sign in form
 */

.form-title {
  margin-top: -10vh;
}

.form-container {
  margin-left: 12vw;
  margin-top: 10vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
}

.form-fields {
  align-items: center;
  justify-content: right;
  margin-left: 2vw;
}

.form-row {
  display: flex;
  margin: 1em 0;
}

.form-row > label {
  width: 8em;
}

/* We need to make sure to change this later */
.PLACEHOLDER-img {
  width: 128px;
  height: 128px;
  border: 1px solid #333;
  background: #f0f0f0;

  font-size: 11px;
  color: #111;
}

.form-row > input {
  width: 20em;
}

.bio-container {
  margin-top: 5vh;
  margin-left: 12vw;
  display: flex;
  flex-direction: column;
}

.bio-container > textarea {
  width: 40em;
  height: 10em;
}

.form-submit {
  margin-top: 11vh;
  margin-left: 12vw;
}

.select-wrapper {
  display: flex;
  margin-bottom: 40vh;
  margin-left: 12vw;
}

.select-header {
  width: 96px;
  font-weight: 700;
  margin-bottom: 0.5em;
  color: #333;
}

.select-container {
  width: 20vw;
  margin-right: 12vw;
  outline: none;
}

/** MAIN SITE STYLING **/
/* This is the styling for the site's content */
/* ---- subheaders
 * ---- page content right of sidebar
 * ---- search fields
 * ---- 
 */

.page-container {
  overflow-y: scroll;
}

.filter-input{
  width: 40vw;
  height: 3vh;
  margin-bottom: 2vh;
}

.filter-section {
  display: flex;
  width: 42vw;
}

.filter-section > .btn {
  width: fit-content;
  height: fit-content;
}

.filter-container {
  width: 19vw;
  margin-right: 1vw;
  outline: none;
  margin-bottom: 2vh;
}

.header {
  font-size: 18px;
  margin-bottom: 0.1em;
}

.page-content {
  margin-left: 20vw;
  height: 100vh;
}

#online-count {
  font-size: 14px;
  margin-top: 0.1em;
  display: flex;
  align-items: baseline;
}

#online-count > p {
  margin-top: 0.1em;
}

.green-circle {
  width: 10px;
  height: 10px;
  background: #a9fda1;
  border-radius: 50%;
  margin-right: 0.1em;
  margin-top: 0em;
}

.carousel-wrapper {
  display: flex;
  overflow: hidden;
  width: 70vw;
  align-items: center;
}

/** MEDIA QUERIES **/
/* This is where responsiveness rules are implemented for different screen sizes.
 * Includes stylings for elements on different pages.
 */
@media screen and (max-width: 900px) {

}

@media screen and (max-width: 760px) {
  .sm {
    padding: 8px;
  }
  
  .md {
    padding: 16px;
  }
  
  .xl {
    padding: 16px 32px;
  }
}

@media screen and (max-width: 670px) {
  .form-title {
      margin: 0;
  }

  .form-row > label {
      width: 6em;
      font-size: 0.7em;
  }

  .form-row > input {
    width: 40vw;
  }

  .bio-container > textarea {
      width: 80vw;
  }

  .form-fields {
      align-items: center;
      justify-content: right;
      margin-left: 2vw;
  }
}

@media screen and (max-width: 560px) {
  nav > .navitem > a {
    margin: 0 4px;
  }

  /* EXTREMELY hacky fix for now - we will change this when we implement hamburger */
  nav > a {
    color: white;
  }

  .xl {
    padding: 16px 24px;
  }
}