.main {
    text-align: center;
}

.L-icon {
    position: absolute;
    left: 5vw;
    top: 210px;
}

.ball-icon {
    position: absolute;
    left: 88vw;
    top: 270px;
}

.main-title { 
    font-size: 3em;
    margin-bottom: 0.5em;
    width: 50%;
    line-height: 1em;
}

.main-header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.sub-title-container {
    display: flex;
    font-size: 0.7em;
}

.sub-title-prompt {
    margin-right: 4px;
}

.sub-title-cta {
    color: #ff914e;
}

.sub-title-cta:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .L-icon {
        display: none;
    }
}

@media screen and (max-width: 770px) {
    .ball-icon {
        display: none;
    }

    .main-title {
        font-size: 2.6rem;
        width: 75%;
    }
}