.change-password:active {
    font-weight: 700;
} 

.change-password {
    color: #ff914e;
    cursor: pointer;
}

.profile-info-field:active,
.profile-info-field:focus {
    background: inherit;
    border-radius: 4px;
}

.profile-info-field {
    border: none;
    border-radius: 0;
    height: 1.5em;
    width: fit-content !important;
    font-family: Roboto;
    text-indent: 0 !important;
}

.bio-container > .profile-info-field  {
    height: 5em;
    width: 40em !important;
    text-indent: 1em !important;
}

.rw-field {
    border-radius: 5px;
    background: #f0f0f0;
    text-indent: 1px;
}

.rw-field:active,
.rw-field:focus {
    text-indent: 4px;
}

.ro-field:active,
.ro-field:focus {
    border: none;
    cursor: default;
}

.profile-save {
    width: 32px;
    margin-top: 5vh;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-info-fields {
    width: 25vw;
    align-items: center;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}