.carousel-container {
    display: flex;
    align-items: center;
}

.chevron-wrapper {
    display: flex;
    border-radius: 50%;
    margin: 8px 16px;
    align-items: center;
}

.chevron-wrapper > * {
    color: white;
}