.carousel-container {
    display: flex;
    align-items: center;
}

.carousel-wrapper {
    display: flex;
    overflow: hidden;
    width: 70vw;
    align-items: center;
}

.carousel-empty {
    display: flex;
    overflow: hidden;
    width: 70vw;
    align-items: center;
}

.chevron-wrapper {
    display: flex;
    border-radius: 50%;
    margin: 8px 16px;
    align-items: center;
}

.chevron-wrapper > * {
    color: white;
}

@media screen and (max-width: 960px) {

    .chevron-wrapper {
        display: none;
    }

    .carousel-wrapper {
        display: flex;
        overflow: scroll;
        width: 100vw;
        align-items: center;
    }
}