.sidebar {
  border-right: 1px solid #dadada;
  width: 15vw;
  height: 100vh;
}

.sidebar-tab {
  color: #686868;
  display: flex;
  margin-top: 10px;
}

.sidebar-img {
  margin-right: 10px;
}

.sidebar-text {
  margin-top: 3px;
}