.user-card-container {
    width: 18rem; 
    height: 10rem;
    display: flex; 
    align-items: center;
    margin: 16px 0;
    margin-right: 8px;
    padding: 16px 32px; 
    border-radius: 8px;
    border: 0.5px solid #f0f0f0;
}

.card-title {
    font-weight: 700;
}

.hobbies-field {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 16px 0;
}

.card-hobby {
    background: #f0f0f0;
    color: #333;
    font-size: 10px;
    padding: 4px;
    border-radius: 2px;
    margin-right: 8px;
    margin-top: 2px;
}

.add-friend-btn {
    width: 100px;
    padding: 8px;
    background: #ff914e;
    color: white;
    border-radius: 8px;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.friend-notif {
    color: #ff914e;
    font-size: 12px;
    font-weight: 700;
}